In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import tqdm
import datetime

# Step 1: Extract (Web Scraping)

In [2]:
URL = 'https://www.gulftalent.com/jobs/search?pos_ref=data&frmPositionCountry=#!?category=&industry=&seniority=&country=&city=&employment_type=&has_external_application=&keyword=data'

In [3]:
def extract_data(url):

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    # soup.find_all('a')

    # Job
    job_title = [element.text.strip() for element in soup.find_all(class_='title')]

    # Location
    location = [element.text for element in soup.find_all(class_="location")]

    # Date
    date = [element.text.strip() for element in soup.find_all(class_="date pull-right")]

    # Company
    company_name = [element.text for element in soup.find_all(class_="company-name")]

    # Link
    link = [a['href'] for a in soup.find_all(class_='ga-job-impression ga-job-click job-results-item section')]

    df = pd.DataFrame({
        'job_title': job_title,
        'location': location,
        'date': date,
        'comany_name': company_name,
        'job_link': link
    }
        )

    return df

In [5]:
def save_df(df, file_path):
    
    df.to_csv(file_path)

In [37]:
df.to_csv('arab_job_search.csv', index=False)

In [38]:
pd.read_csv('arab_job_search.csv')

,job_title,location,date,comany_name,job_link
0,Data Analyst / Specialist,Dubai,2023-08-09,Ultimate HR Solutions,https://www.gulftalent.com/uae/jobs/data-analy...
1,Data Strategy Consultant,UAE,2023-09-22,Core Consultants,https://www.gulftalent.com/uae/jobs/data-strat...
2,Data Manager - Consulting Technology,Riyadh,2023-10-29,PricewaterhouseCoopers,https://www.gulftalent.com/saudi-arabia/jobs/d...
3,Data Entry Officer - 6 Months (Extendable),Dubai,2023-07-18,ManpowerGroup Middle East,https://www.gulftalent.com/uae/jobs/data-entry...
4,Data Governance Manager,UAE,2023-08-03,Michael Page,https://www.gulftalent.com/uae/jobs/data-gover...
5,Data Engineering Manager,UAE,2023-08-03,Michael Page,https://www.gulftalent.com/uae/jobs/data-engin...
6,Data Architect,UAE,2023-09-01,Michael Page,https://www.gulftalent.com/uae/jobs/data-archi...
7,Data Engineer,Saudi Arabia,2023-09-18,ManpowerGroup Middle East,https://www.gulftalent.com/saudi-arabia/jobs/d...
8,Data Analytics Lead,UAE,2023-07-26,Michael Page,https://www.gulftalent.com/uae/jobs/data-analy...
9,Data Governance Director (Metadata),UAE,2023-08-01,Michael Page,https://www.gulftalent.com/uae/jobs/data-gover...
10,Data Scientist Manager,Saudi Arabia,2023-08-09,Michael Page,https://www.gulftalent.com/saudi-arabia/jobs/d...
11,Data Analyst,Dubai,2023-08-21,RTC-1 Employment Services,https://www.gulftalent.com/uae/jobs/data-analy...
12,Data Analyst,Abu Dhabi,2023-07-31,Flow Talent,https://www.gulftalent.com/uae/jobs/data-analy...
13,Data Entry/Admin,UAE,2023-09-19,ManpowerGroup Middle East,https://www.gulftalent.com/uae/jobs/data-entry...
14,Data Engineer - Data Integration,Cairo,2023-11-09,IBM Middle East,https://www.gulftalent.com/egypt/jobs/data-eng...
15,Data Analyst,Qatar,2023-10-26,Quest Search & Selection,https://www.gulftalent.com/qatar/jobs/data-ana...
16,Data and Information Management Team Lead,Dubai,2023-11-03,Charterhouse,https://www.gulftalent.com/uae/jobs/data-and-i...
17,Data Center Manager,Saudi Arabia,2023-06-19,Innovative Contractors for Advanced Dimensions...,https://www.gulftalent.com/saudi-arabia/jobs/d...
18,Data Scientist,UAE,2023-07-04,Michael Page,https://www.gulftalent.com/uae/jobs/data-scien...
19,Data Scientist - Senior Specialist,UAE,2023-10-31,Michael Page,https://www.gulftalent.com/uae/jobs/data-scien...
20,Data Analytics Manager,Muscat,2023-11-07,Ooredoo,https://www.gulftalent.com/oman/jobs/data-anal...
21,Data Analytics Internal Audit Manager,Dubai,2023-09-08,Flow Talent,https://www.gulftalent.com/uae/jobs/data-analy...
22,Data Consultant,UAE,2023-07-04,Michael Page,https://www.gulftalent.com/uae/jobs/data-consu...
23,Data Analyst / Audit Analyst,Khobar,2023-09-01,Deloitte & Touche (M.E.),https://www.gulftalent.com/saudi-arabia/jobs/d...
24,Head of Data Privacy Advisory and Governance,Saudi Arabia,2023-09-27,Michael Page,https://www.gulftalent.com/saudi-arabia/jobs/h...

## Step 2: Transform (Data Transformation)

In [6]:
def transform(df):
    
    df['date'] = pd.to_datetime(df['date'])
    
    BASE_URL = 'https://www.gulftalent.com'
    df['job_link'] = df['job_link'].apply(lambda link: BASE_URL + link)
    
    df['job_link'] = df['job_link'].str.replace('/mobile', '')
    
    return df

In [7]:
df = transform(df)

In [128]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
BASE_URL = 'https://www.gulftalent.com'

In [ ]:
# df['job_link'] = [BASE_URL + link for link in df['job_link']]   
df['job_link'] = df['job_link'].apply(lambda link: BASE_URL + link)

In [137]:
df['job_link'] = df['job_link'].str.replace('/mobile', '')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   job_title    25 non-null     object
 1   location     25 non-null     object
 2   date         25 non-null     datetime64[ns]
 3   comany_name  25 non-null     object
 4   job_link     25 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.1+ KB

# Step 3: Load

In [16]:
from sqlalchemy import create_engine, Column, Integer, String, text, Date
from sqlalchemy.orm import Session, declarative_base

### Create new database

In [31]:
# Create engine
def db_connection(db_name):
    
    db_info = {
    'username':'andisheh',
    'password': '12345',
    'host': 'localhost',
    'port':'5432',
}

    username = db_info['username']
    password = db_info['password']
    host = db_info['host']
    port = db_info['port']
    
    # Core Approch for building database
    engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/{db_name}")
    
    return engine

In [32]:
db_connection('db_test1')

Engine(postgresql://andisheh:***@localhost:5432/db_test1)

In [26]:
def create_new_db(db_info, db_name):
    
    # create engine
    engine = db_connection(db_name)
    
    # Create connection
    with engine.connect() as connection:
            connection.execute(text("COMMIT"))
            connection.execute(text(f"DROP DATABASE IF EXISTS {db_name}"))
            connection.execute(text(f"CREATE DATABASE {db_name}"))
            connection.commit()

In [27]:
create_new_db(db_info, 'db_test3')

### Create Table with SQLalchemy (ORM)

In [ ]:
# Connect to new database
## create engine
engine = db_connection(db_name)

session = Session(engine)

Base = declarative_base()

class ArabJob(Base):

    __tablename__ = 'arabjobsearch'
    id = Column(Integer, primary_key=True)
    job_title = Column(String)
    location = Column(String)
    date = Column(Date)
    comany_name = Column(String)
    job_link = Column(String)


Base.metadata.create_all(engine)
session.commit()

## Insert data in arabjobsearch table

In [175]:
df.to_dict(orient='records')[0]

{'job_title': 'Data Analyst / Specialist',
 'location': 'Dubai',
 'date': Timestamp('2023-08-09 00:00:00'),
 'comany_name': 'Ultimate HR Solutions',
 'job_link': 'https://www.gulftalent.com/uae/jobs/data-analyst-specialist-382848'}

In [181]:
list_of_job_row = [ArabJob(**row) for row in df.to_dict(orient='records')]

In [182]:
list_of_job_row

[<__main__.ArabJob at 0x7fc1502f3d30>,
 <__main__.ArabJob at 0x7fc1502f34c0>,
 <__main__.ArabJob at 0x7fc1502f3c70>,
 <__main__.ArabJob at 0x7fc1502f3670>,
 <__main__.ArabJob at 0x7fc1502f3280>,
 <__main__.ArabJob at 0x7fc1502f3940>,
 <__main__.ArabJob at 0x7fc1502f3df0>,
 <__main__.ArabJob at 0x7fc1502f3460>,
 <__main__.ArabJob at 0x7fc1502f3d90>,
 <__main__.ArabJob at 0x7fc1502f3a30>,
 <__main__.ArabJob at 0x7fc1502f3a60>,
 <__main__.ArabJob at 0x7fc1502f30a0>,
 <__main__.ArabJob at 0x7fc1504b3e20>,
 <__main__.ArabJob at 0x7fc1504b3a90>,
 <__main__.ArabJob at 0x7fc1504b3d00>,
 <__main__.ArabJob at 0x7fc1504b3130>,
 <__main__.ArabJob at 0x7fc1504b3a60>,
 <__main__.ArabJob at 0x7fc1504b3790>,
 <__main__.ArabJob at 0x7fc1504b38e0>,
 <__main__.ArabJob at 0x7fc1504b3940>,
 <__main__.ArabJob at 0x7fc1504b3cd0>,
 <__main__.ArabJob at 0x7fc1504b3df0>,
 <__main__.ArabJob at 0x7fc1504b3c40>,
 <__main__.ArabJob at 0x7fc1504b3d30>,
 <__main__.ArabJob at 0x7fc1504b3ca0>]

In [183]:
session.add_all(list_of_job_row)
session.commit()

In [166]:
def add(a, b, *args, **kwargs):
    return a, b, args, kwargs

In [169]:
add(5, 7, 3, 6, 10,f=9)

(5, 7, (3, 6, 10), {'f': 9})

In [170]:
dict_ = {'a': 4, 'b': 10}

In [171]:
add(**dict_)

(4, 10, (), {})